[submodule "Customer-churn-prediction/Customer-Churn-Project"]
	path = Customer-churn-prediction/Customer-Churn-Project
	url = https://github.com/ProTeni/Customer-Churn-Project.git
[submodule "EDA/HealthCare-EDA"]
	path = EDA/HealthCare-EDA
	url = https://github.com/ProTeni/HealthCare-EDA.git
[submodule "Sales Forecasting/Predicting_Purchase_Likelihood"]
	path = Sales Forecasting/Predicting_Purchase_Likelihood
	url = https://github.com/ProTeni/Predicting_Purchase_Likelihood.git
[submodule "Sales Forecasting/phamaceuical_marketing_Ad"]
	path = Sales Forecasting/phamaceuical_marketing_Ad
	url = https://github.com/ProTeni/phamaceuical_marketing_Ad.git
[submodule "Predicting_Student_Performance-w-LR"]
	path = Predicting_Student_Performance-w-LR
	url = https://github.com/ProTeni/Predicting_Student_Performance-w-LR.git
[submodule "EDA/eBay_car_Analysis"]
	path = EDA/eBay_car_Analysis
	url = https://github.com/ProTeni/eBay_car_Analysis.git
[submodule "HealthCare Forecast/Breast_Cancer-Prediction"]
	path = HealthCare Forecast/Breast_Cancer-Prediction
	url = https://github.com/ProTeni/Breast_Cancer-Prediction.git
[submodule "HR Forecast/New_Hire"]
	path = HR Forecast/New_Hire
	url = https://github.com/ProTeni/New_Hire.git
[submodule "Marketing Forecasts/marketing_budget-and-sales-prediction"]
	path = Marketing Forecasts/marketing_budget-and-sales-prediction
	url = https://github.com/ProTeni/marketing_budget-and-sales-prediction.git
[submodule "House Prediction/House_Prediction"]
	path = House Prediction/House_Prediction
	url = https://github.com/ProTeni/House_Prediction.git
[submodule "Academic Forecasts/GPA-prediction-using-SAT-scores"]
	path = Academic Forecasts/GPA-prediction-using-SAT-scores
	url = https://github.com/ProTeni/GPA-prediction-using-SAT-scores.git
[submodule "SQL/SQL_Projects.me"]
	path = SQL/SQL_Projects.me
	url = https://github.com/ProTeni/SQL_Projects.me.git
